// MEDIA QUERIES

// NarrowPhoneSize = 480px;
PhoneSize = 560px
TabletSize = 767px
DesktopSize = 1024px

// COLORS

yearColor = #DADADA
monthColor = #E6E6E6
spliterLineColor = #A6A6A6
labelsColor = #4F4F4F
overlayColor = rgba(0, 0, 0, 0.3)